---
import HomeIcon from "../assets/icones/HomeIcon.astro";
import CollegeIcon from "../assets/icones/CollegeIcon.astro";
import TaskIcon from "../assets/icones/TaskIcon.astro";
import CalendarIcon from "../assets/icones/CalendarIcon.astro";
import ElearningIcon from "../assets/icones/ElearningIcon.astro";
import OfficeIcon from "../assets/icones/OfficeIcon.astro";
import OtherIcon from "../assets/icones/OtherIcon.astro";
const {currentPath} = Astro.props;
const isPerkuliahanActive = ['/jadwal-kuliah', '/tugas-kuliah', '/elearning'].includes(currentPath);
---
<nav class="fixed bottom-0 lg:max-w-md lg:mx-auto max-w-screen left-0 rounded-t-3xl right-0 bg-base-100 border-t border-base-300">
    <div class="flex justify-around items-center">
        <a href="/"
           class:list={["flex flex-col items-center justify-center text-center p-3 flex-grow hover:bg-base-200 transition-colors duration-200 h-full", {"text-[#ff743d]": currentPath === '/'}]}>
            <HomeIcon class="w-7 h-7"/>
            <span class="text-xs font-bold">Home</span>
        </a>

        <div class="dropdown dropdown-top dropdown-center cursor-pointer flex-grow h-full flex justify-center items-center">
            <div tabindex="0" role="button"
                 class:list={["flex flex-col items-center justify-center text-center p-3 hover:bg-base-200 transition-colors duration-200", {"text-[#ff743d]": isPerkuliahanActive}]}>
                <CollegeIcon class="w-7 h-7"/>
                <span class="text-xs font-medium">Perkuliahan</span>
            </div>
            <ul tabindex="0" class="dropdown-content menu p-1 space-y-1 shadow bg-white rounded-box w-52 mb-2 text-md">
                <li class="flex text-left">
                    <a href="/jadwal-kuliah"
                       class:list={["p-5 font-bold", {'bg-neutral text-white': currentPath === '/jadwal-kuliah'}]}>
                        <CalendarIcon class="w-6 h-6"/>
                        Jadwal Kuliah
                    </a>
                </li>
                <li>
                    <a href="/tugas-kuliah"
                       class:list={["p-5 font-bold", {'bg-neutral text-white': currentPath === '/tugas-kuliah'}]}>
                        <TaskIcon class="w-6 h-6"/>
                        Tugas Kuliah
                    </a>
                </li>
                <li>
                    <a href="/elearning"
                       class:list={["p-5 font-bold", {'bg-neutral text-white': currentPath === '/elearning'}]}>
                        <ElearningIcon class="w-6 h-6"/>
                        E-Learning
                    </a>
                </li>
            </ul>
        </div>

        <a href="/administrasi"
           class:list={["flex flex-col items-center justify-center text-center p-3 flex-grow hover:bg-base-200 transition-colors duration-200 h-full", {"text-[#ff743d]": currentPath === '/administrasi'}]}>
            <OfficeIcon class="w-6 h-6"/>
            <span class="text-xs font-medium">Administrasi</span>
        </a>
        <a href="/lainnya"
           class:list={["flex flex-col items-center justify-center text-center p-3 flex-grow hover:bg-base-200 transition-colors duration-200 h-full", {"text-[#ff743d]": currentPath === '/lainnya'}]}>
            <OtherIcon class="w-6 h-6"/>
            <span class="text-xs font-medium">Lainnya</span>
        </a>
    </div>
</nav>