---
import WeeklyTasks from "./WeeklyTasks.astro";

const {course, index} = Astro.props;
---
<div tabindex={index} class="collapse collapse-plus bg-base-100 border-base-300 border">
    <div class="collapse-title font-semibold">
        {course.courseName}
    </div>
    <div class="collapse-content">
        {course.weeklyTasks.map((week) => (
                <WeeklyTasks week={week}/>
        ))}
    </div>
</div>