<div class="card bg-base-100 shadow-sm">
    <figure>
        <img
                src="/images/jadwal_kuliah.png"
                alt="Jadwal Kuliah"/>
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            Jadwal Kuliah
            <div class="badge badge-custom">06TPLP003</div>
        </h2>
        <p class="text-left">Temukan informasi terbaru mengenai jadwal perkuliahanmu di sini.
            Pastikan tidak ketinggalan waktu dan kelas agar kegiatan belajar lebih teratur.</p>
    </div>
</div>

<style>
    .badge-custom {
        --badge-color: #ff743d;
        --badge-fg: #ffffff;
    }
</style>