<div class="card bg-base-100 shadow-sm">
    <figure>
        <img
                src="/images/tugas_kuliah.png"
                alt="Rekap & Tugas Kuliah"/>
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            Rekap & Tugas Kuliah
            <div class="badge badge-custom">06TPLP003</div>
        </h2>
        <p class="text-left">Pantau semua tugas kuliahmu di sini. Pastikan setiap deadline terpenuhi tepat waktu untuk
            hasil akademik yang maksimal.
        </p>
    </div>
</div>


<style>
    .badge-custom {
        --badge-color: #ff743d;
        --badge-fg: #ffffff;
    }
</style>