---
import TaskItem from "./TaskItem.astro";

const {week} = Astro.props;
---
<div class="mb-4">
    <h3 class="font-bold mb-1 text-neutral">{week.weekTitle}</h3>
    <div class="text-sm space-y-2">
        {week.tasks.map((task) => (
                <TaskItem task={task}/>
        ))}
    </div>
</div>