---
import TextBlurReveal from "./TextBlurReveal.astro";
---
<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <TextBlurReveal/>
            <button class="btn btn-primary">Get Started</button>
        </div>
    </div>
</div>